.navbar {
  display: flex;
  justify-content: space-between;

  &__cart {
    margin-right: 1rem;
  }

  &__cartimg {
    position: relative;
    width: 2rem;
  }

  &__cartActiveOne {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 39px;
  }

  &__elipse {
    position: absolute;
    top: 3px;
    right: 34px;
  }

  &__mobile {
    display: flex;
    justify-content: right;
    position: relative;
    transform: scale(1.5);
    align-items: center;
    margin-right: 1rem;
  }

  &__cartActive {
    position: relative;
  }

  &__menu {
    display: flex;
    justify-content: right;
    width: 30%;
  }

  &__desktop {
    display: none;
  }

  &__hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  @media (min-width: 480px) {
    .navbar {
      &__menu {
        width: 50%;
      }
    }
  }

  @media (min-width: 768px) {
    border-bottom: 0.1rem solid var(--color-gray);

    &__mobile {
      display: none;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }

    &__item {
      text-decoration: none;
      color: black;
    }

    &__desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__separator {
      display: flex;
      align-items: center;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      width: 33%;
    }

    &__menu {
      width: 45%;
      align-items: center;
    }
  }

  @media (min-width: 1080px) {
    .navbar {
      &__menu {
        width: 40%;
        align-items: center;
      }
    }
  }

  @media (min-width: 1440px) {
    .navbar {
      &__menu {
        width: 30%;
        align-items: center;
      }
    }
  }
}
