@use '../../styles/colors';

.footer {
  margin-top: 3rem;
  &__input {
    position: relative;
  }

  &__input-arrow {
    position: absolute;
    right: 0px;
    top: 1.25rem;
  }

  &__input-field {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.75rem;
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
  }

  &__checkbox-description {
    margin-left: 0.5rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    line-height: 2rem;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    padding: 3rem 0;
  }

  &__contact-items {
    text-decoration: none;
    color: var(--color-dark-gray);
  }

  &__copyright {
    color: var(--color-dark-gray);
    padding-bottom: 1rem;
  }

  &__desktop {
    display: none;
  }
}

@media (min-width: 480px) {
  .footer {
    &__socials {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    &__socials {
      width: 30%;
    }
  }
}

@media (min-width: 1080px) {
  .footer {
    border-top: 0.1rem solid var(--color-gray);

    &__contact {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
      font-size: 1rem;
      padding: 0;
    }

    &__input-field {
      line-height: 2rem;
      font-size: 1rem;
      padding: 0.75rem;
    }

    &__desktop {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 3rem;

      &-left {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 65%;
      }

      &-right {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 35%;
      }
    }

    &__socials {
      display: flex;
      justify-content: right;
      width: 100%;
      padding: 0;

      &-position {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-top: 3rem;
      }
    }

    &__copyright {
      padding-bottom: 1rem;
      padding: 2rem 0;
    }

    &__mobile {
      display: none;
    }

    &__input-arrow {
      position: absolute;
      right: 0px;
      top: 1.75rem;
    }
  }
}

@media (min-width: 1440px) {
  .footer {
    &__contact {
      width: 60%;
    }
  }
}
