.footer {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    border-top: 0.04rem solid black;

    .footer__menu {
        display: flex;
        justify-content: space-between;
    }

    .footer__description {}

    .footer__search {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 40%;

        .footer__input {
            display: flex;
            justify-content: right;
            flex-basis: 25%;
            border: none;
            border-bottom: .08rem solid black;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .newsletter__input {
                width: 100%;
                padding: 1rem;
                border: none;
                background: url(../../assets//arrow.svg) no-repeat right;

            }
        }

        .footer__icons {
            display: flex;
            justify-content: right;
            flex-basis: 50%;

            &--container {
                display: flex;
                justify-content: space-between;
                flex-basis: 50%;
            }
        }
    }

}