.navbar {
    display: flex;
    justify-content: space-between;
    margin: 3vh 3vw;
    height: 3rem;

    .navbar__logo {
        display: flex;
        align-items: center;

    }

    .navbar__menu {
        display: flex;
        justify-content: right;
        height: 3rem;
        width: 50%;
    }

    .navbar__item--menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 25%;
    }

    .navbar__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 35%;

        .navbar__item {
            height: 1.5rem;
        }
    }

    .navbar__icons img {
        height: 1.875rem;
    }

    .navbar__separator {
        display: flex;
        align-items: center;
    }

    .navbar__separator::after {
        content: '';
        display: block;
        height: 40%;
        width: 0.125rem;
        background-color: #929292;
        margin: 0 1.25rem;
    }
}


@media (max-width: 768px) {

    .navbar__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu {
        display: flex;
        justify-content: space-between;
        width: 30%;
    }


    .navbar__item {
        margin-left: 0;
        justify-content: space-between;
        margin-top: 0.625rem;
    }

    .navbar__separator {
        display: none;
    }

    .navbar__icons {
        justify-content: flex-end;
        width: 100%;
    }

    .navbar__links {
        justify-content: flex-start;
        width: 100%;
    }
}

@media (max-width: 480px) {

    .navbar__links {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__links div {
        margin-right: 0;
        margin-bottom: 0.625rem;
    }

    .navbar__icons {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar__icons img {
        margin-left: 0;
        margin-bottom: 0.625rem;
    }
}