.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  &__header {
  }

  &__paragraph {
  }

  &__link {
    text-decoration: none;
    border: 0.05rem solid black;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    color: black;
  }
}
